.Home{
    .Profile{
        @extend %col;
        justify-content: flex-start;
        align-items: flex-start;

        position: absolute;
        top: 60px;
        left: 20px;

        span{
            font-size: 20px;
            font-family: 'orbitron semibold';
            position: relative;
        }
    }
    &>p{
        font-size: 20px;
        opacity: 0;

        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);

        &.active{
            animation: blink ease 2s infinite;
        }
    }

    .helpicon{
        position: absolute;
        top: 20px;
        left: 20px;

        font-size: 35px;

        color: white;
        opacity: 0;
        cursor: pointer;

        transition: color ease .5s;

        &:hover{
            &.started{
                opacity: 1;
                animation: none;
            }
        }

        &.started{
            animation: blink ease 2s infinite;
        }

        &.active{
            opacity: 0;
            transition: opacity ease .5s;
            animation: none;
            pointer-events: none;
        }
    }

    .message-bottom{
        @extend %row;
        justify-content: flex-start;
        align-items: baseline;

        position: absolute;
        bottom: 50px;
        left: 20px;

        span{
            color: white;
            font-size: 20px;
            margin-inline: 5px;
        }
    }

    .arrow-container{
        @extend %row;
        justify-content: space-between;
        align-items: center;

        width: 95%;
        height: 100%;

        pointer-events: none;

        @extend %mid;

        span{
            color: white;
            font-size: 35px;
            cursor: pointer;

            pointer-events: auto;

            opacity: 0.2;

            transition: opacity ease .5s;

            &.in-move{
                opacity: 0;
            }

            &:first-child{
                transform: rotate(180deg);
            }

            &:hover{
                opacity: 1;
            }
        }
    }
}